
.first-container{
    color: #ffffff;
    margin-top: 0px;
    text-align: center;
    position: relative;
    font-family: 'Merriweather Sans', sans-serif;  
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding-bottom: 150px;
}

.HomeButton{

    font-family: 'Arvo', serif;  
    margin-left: 15px;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 0.5rem;
   
}
.topic{
    font-family: "arvo" sans-serif;
    margin-top: 200px;
    width: 50%;
   
}

.AppStore {
    width: 150px;
    margin-left: 250px;
    
}

.GooglePlay{
    width: 165px;
    margin-left: 20px;
    
}
.mobile{
    position: absolute;
    right: 400px;
    top: 80px;
    width: 200px;
}

.AppNow{
    font-size: 1.5rem;
    margin-top: auto;
    left: 260px;
    display: inline-block;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.Rocket-first-paragraph{
    margin-top: 60px;
    margin-left: 260px;
    width: 25%;
    line-height: 1.5;
    text-align: left;
}
.list{
    position: absolute;
    right: 80px;
    top: 300px;
    line-height: 2;   
}

a:hover{
    color: #EAF6F6 ;
}

.second-container{
    color: #000000;
    font-family: 'Merriweather Sans', sans-serif;  
    background-color: white;
    padding-bottom: 50px;
    width: 80%;
    margin-left: 150px;
}

.Category-middle-container{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    
}

.lock{
    width: 15%;
    margin-left: 160px;
}
.computer{
    width: 15%;
    margin-left: 160px;
}

.medal{
    width: 15%;
    margin-left: 160px;
}
.Content-middle-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    width: 50%;
    text-align: center;
    margin-left: 100px;
    color: darkgrey;

}
.second-container-head{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.third-container{
    color: #000000;
    font-family: 'Merriweather Sans', sans-serif;  
    background-color: rgb(242, 242, 242);
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 40px;
    
}

.ComputerImage{
    margin-left: 350px;
    margin-top: 100px;
  
}
.third-content{
    font-family: Arial, Helvetica, sans-serif;
    width: 200%;
    font-weight: 500px;
    font-size: 2rem;
    margin-top: 100px;
}
.third-para{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6rem;
    width: 200%;
    color: darkgrey;
}
.btn {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, rgba(63,94,251,1), rgba(252,70,107,1));
    background-image: -moz-linear-gradient(top, rgba(63,94,251,1), rgba(252,70,107,1));
    background-image: -ms-linear-gradient(top, #rgba(63,94,251,1), rgba(252,70,107,1));
    background-image: -o-linear-gradient(top, rgba(63,94,251,1), rgba(252,70,107,1));
    background-image: linear-gradient(to bottom, rgba(63,94,251,1), rgba(252,70,107,1));
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 300;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    }
    
    .btn:hover {
    
    background: #1e59f0;
    text-decoration: none;
    }

    .fourth-container{
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        padding-bottom: 30px;
    }
.graph{
    width: 60%;
    margin-left: 250px;
    margin-top: 90px;
}

.fourth-content{
    margin-left: 250px;
    width: 50%;
    color: #ffffff;
    margin-top: 20px;
}
.fourth-heading{
    color: #ffffff;
    font-size: 1.7rem;
    margin-left: 250px;
}

.btn2 {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 300;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 1rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-left: 250px;
    }
    
    .btn2:hover {
    
    background: #8aa8f2;
    text-decoration: none;
    }